.app {
  background-color: rgb(73, 73, 104);
  height: 100vh;
  text-align: center;
  padding: 10px;
}

.todo-list {
  background-color: rgb(13, 35, 61);
  margin: 0% 25%;
  justify-content: center;
  color: black;
  border-radius: 4px;
  max-width: 50%;
  padding: 5px;
}

.todo {
  font-family: 'Courier New', Courier, monospace;
  align-items: center;
  background: rgb(172, 210, 246);
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  font-size: 20px;
  justify-content: space-between;
  margin-bottom: 6px;
  padding: 3px 10px;
}

.todo-form {
  opacity: 1;
  border-radius: 3px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15);
  background: rgb(200, 200, 200);
  padding: 3px 10px;
  margin: 0;
}

.input {
  width: 100%;
  font-family: 'Courier New', Courier, monospace;
  background: rgb(200, 200, 200);
  display: flex;
  font-size: 20px;
  margin: 0;
  padding: 0;
  border: 0;
}

button {
  border-radius: 3px;
  background-color: rgb(13, 35, 61);
  color: white;
  border: 0;
  margin: 1px;
}

.title {
  margin-top: 1px;
  font-size: 80px;
  color: rgb(172, 198, 241);
}

::placeholder{
  opacity: 0.8;
  color: rgb(0, 0, 0);
}